body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
}

.section-1 {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 28px 70px 70px 148px;

}

.half-width img {
    width: 90%;

}

.color {
    color: rgb(39, 194, 194);
}

.border {
    font-size: 41px;
    border-left: 5px solid aqua;
    padding-left: 10px;
    border-radius: 2px;

}

.link-button {
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(244, 71, 71), rgb(225, 73, 65));
    color: black;
    font-weight: 700;
}

.middle {
    text-align: center;
    font-size: 45px;
}

.section-2 {
    display: flex;
    padding: 10px 120px 100px;
}

.mission-goal-vission img {
    width: 30%;
}

#one {
    background-color: aqua;
    padding: 10px 20px;
    border: 5px aqua;
    border-radius: 15px;
    margin: 20px;
}

#two {
    background-color: cornflowerblue;
    padding: 10px 20px;
    border: 5PX cornflowerblue;
    border-radius: 15px;
    margin: 20px;
}

#three {
    background-color: bisque;
    padding: 10px 20px;
    border: 5px bisque;
    border-radius: 15px;
    margin: 20px;
}

.section-3 {
    display: flex;
    padding: 10px 120px 60px 150px;
}

.develop-part img {
    width: 80%;
}

.bold {
    font-size: 45px;
}

.section-4 {
    display: flex;
    padding: 15px 0px 100px 130px;
}

.global-community-part img {
    width: 70%;
}

.footer {
    background-color: black;
    margin-left: auto;
    padding: 36px;
    text-align: center;
    color: white;
}